body {
    margin: 0;
}
.red {
    background-color: tomato;
}
.container {
    width: 100vw;
}
.header, .main {
    width: 60vw;
    margin: 0 auto;
    padding: 25px 0;
}
.logo, .nav, li {
    float: left;
}
ul {
    margin: 0;
}
li {
    padding: 0 25px;
    list-style: none;
}
h4 {
    margin: 0;
}
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
 
.clearfix:after {
    clear: both;
}