#title{
  font-family:arial;
  font-weight:bold;
  font-size:32px;
  text-align:center;

}
  
#subtitle{
  font-family:arial;
  font-size:25px;
  font-weight:bold;
  text-align:center;
}
li{
    list-style-type: none;
}

ul{
padding: 0;
}

.container{
    margin-left: 10%;
}

.decklist{
 width:40%;
 min-height: 50px;
  display: inline-block;
 border-style:solid;
  font-family:arial;
  font-size:20px;
  font-weight:normal;
  background:gray;
  padding: 20px;

}
.catagory{
    font-weight: bold;
}

body {
    -webkit-animation: colorchange 25s infinite; 
    animation: colorchange 25s infinite;
}
@-webkit-keyframes colorchange {
     0%  {background: #FF7F50;}
    15%  {background: #00FF7F;}
    40%  {background: #117A65;}
    65%  {background: #DC143C ;}
    80% {background: #9B59B6;}
    100%{background: #FF7F50;}
}
@keyframes colorchange {
    0%  {background: #FF7F50;}
    15%  {background: #00FF7F;}
    40%  {background: #117A65;}
    65%  {background: #DC143C ;}
    80% {background: #9B59B6;}
    100%{background: #FF7F50;}
}   

