div.div1 {

    float: left;
    height: 700px;
    margin-right: 20px;
    width: 400px;
    background-color: green
}

div.div2 {
   
    height: 700px;
    overflow: hidden;
    background-color: red
}

