div.div1 {

    float: left;
    height: 700px;
    margin-right: 20px;
    width: 400px;
    background-color: green
}

div.div3 {
   
    height: 700px;
    overflow: hidden;
    background-color: red
}

div.div2 {
   
    clear: left;
    float: left;
    height: 15px;
    margin-top: 20px;
    background-color: blue
}