*{
	color: white;
}

h1{
	font-family: 'Righteous', cursive;
	padding-left: 100px;
}
h3{
	font-family: 'Righteous', cursive;
	padding-left: 420px;
}
h6{
	font-family: 'Noto Serif JP', sans-serif;
	text-align: center;
}
body{
	background-color: black;
}
.subpoem{
	font-family: 'serif';
	text-align: right;
	padding-right: 725px;
	

	
}
p{
	text-align: right;
	font-family: 'serif';
	padding-left: 200px;
	padding-right: 1200px;
	padding-bottom: 10px;
	text-indent:100px;
	margin-top: 10px;
	margin-bottom: 0;
	line-height: 30px;
	letter-spacing: 1.5px;
}

