@charset "utf-8";
/* CSS Document */
p{
text-indent: 2vw;
margin-left: 10vw;
margin-right: 10vw;
font-size: 1vw;
}
h1{
text-align: center;
letter-spacing: .5vw;
font-size: 3vw;
line-height: 1vw;
}
h2{
text-align: center;
font-size: 2vw;
line-height: 1vw;
}
h3{
text-align: center;
font-size: 1.5vw;
line-height: 1vw;
}
h4{
text-align: center;
font-size: 1vw;
line-height: 1vw;
}
h5{
	text-align: right
	font-size: .5vw;
	line-height: 1vw;
}